@import '../../../../../../styles.scss';

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.1rem;
  width: 100%;

  label {
    border-bottom: 1px solid $quaternary-color;
    display: flex;
    gap: 0.7rem;
    height: 5rem;
    width: 100%;

    :first-child img {
      width: 2rem;
    }

    :last-child img {
      width: 1.6rem;
    }

    input {
      border: none;
      outline: none;
      width: 100%;
    }
  }

  p {
    margin-top: 2.5rem;
  }
}
