<p>
  <strong>Olá, Dener Troquatte</strong>
</p>
<p>Ag: 9999, CO: 99999-9</p>
<p id="savings">Poupança: R$ {{getSavings.toFixed(2).replace('.', ',')}}</p>
<input id="withdraw-input" #withdraw type="number" />
<button id="withdraw-btn" (click)="withdrawCash(withdraw.value)">Sacar</button>
<p id="wallet">Carteira: R$ {{getWallet.toFixed(2).replace('.', ',')}}</p>
<input id="deposit-input" #deposit type="number" />
<button id="deposit-btn" (click)="depositCash(deposit.value)">Depositar</button>
<br />
<br />
<app-list></app-list>
