@import './dist/scss//variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: roboto;
  font-size: $size-small;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 0.8s;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: $primary-background-color;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 35%;

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    > * {
      margin: $size-x-small;
    }
  }
}

button, input[type='checkbox'] {
  cursor: pointer;
}

@media (max-width: 912px) {
  main {
    padding: 0 20%;
  }
}

.container {
  margin: 50px auto;
  width: 350px;
}
