@import '../../../../../dist/scss/variables.scss';

:host {
  align-items: center;
  display: flex;
  justify-content: center;

  button {
    background: $danger-color;
    border: none;
    border-radius: 4px;
    color: $secondary-text-color;
    margin-top: $size-x-small;
    padding: $size-x-small;
    width: 60%;
  }
}
